.sidebar-box {
  background-color: #fff7ed; /* warm beige */
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  padding: 12px;
  margin-left: 10%;
}

.sidebar-box h2 {
  font-size: 16px;
  font-weight: 700;
  color: #7f1d1d;
  display: flex;
  align-items: center;
  gap: 6px;
}

.sidebar-box .MuiAccordion-root {
  background-color: transparent !important;
  box-shadow: none !important;
  border-bottom: 1px solid #f3e8e2;
}

.sidebar-box .MuiAccordion-root:last-child {
  border-bottom: none;
}
.sidebar-box ul {
  margin-left: 1.5rem; /* equivalent to ml-6 */
  gap: 0.25rem; /* equivalent to space-y-1 */
}

.label {
  color: #000;
}
